<h1><%= t('.header', title: @history_test.test.title) %></h1>

<p>
  <%= @history_test.current_question.body %>
</p>

<%= form_with url: history_test_path(@history_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @history_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gist_history_test_path(@history_test), method: :post %></p>
  <p><%= form.submit t('.send')%></p>
<% end %>


<div class="progress">
  <%= content_tag :div, "Пройдено вопросов: " + @history_test.show_progress, class: 'progress-bar', data: { progress: @history_test.show_progress } %>
</div>
<p>
  <%= t('.show_progress', show: @history_test.show_progress) %> |
  <%= link_to t('.back_tests'), tests_path %>
</p>
